<section class="pt-12 lg:pt-16 pb-12 lg:pb-16">
  <div class="max-w-7xl mx-auto px-4 xl:px-0 flex flex-col">
    <div class="flex flex-col items-center">
      <div
        class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-white text-neutral-700 px-2.5 py-1"
      >
        Introducing saaslandings
      </div>
      <div
        class="mt-6 bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-center text-3xl font-semibold text-transparent sm:mx-auto sm:w-2/3 md:w-1/2 lg:mt-9 lg:text-4xl lg:leading-tight xl:w-2/3"
      >
        Exploring Trends, Innovations, Stories in the Dynamic World of SaaS
      </div>
      <p
        class="text-sm font-medium text-slate-600 leading-normal lg:leading-normal lg:text-base mt-4 text-center sm:mx-auto sm:w-2/3 md:w-1/2 xl:w-2/5"
      >
        Discover the latest innovations, cutting-edge technologies, and
        forward-thinking ideas shaping the SaaS landscape
      </p>
      <div class="mt-6 flex flex-wrap items-center justify-center gap-3">
        <button
          type="button"
          aria-label="Show active tab"
          class="py-1 px-2.5 text-sm flex items-center justify-center font-medium shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] rounded-full whitespace-nowrap text-white bg-slate-900"
        >
          Show all
        </button>
        <button
          type="button"
          aria-label="Show active tab"
          class="py-1 px-2.5 text-sm flex items-center justify-center font-medium shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] rounded-full whitespace-nowrap text-neutral-700 bg-white"
        >
          Tips &amp; Tricks
        </button>
        <button
          type="button"
          aria-label="Show active tab"
          class="py-1 px-2.5 text-sm flex items-center justify-center font-medium shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] rounded-full whitespace-nowrap text-neutral-700 bg-white"
        >
          Trends
        </button>
        <button
          type="button"
          aria-label="Show active tab"
          class="py-1 px-2.5 text-sm flex items-center justify-center font-medium shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] rounded-full whitespace-nowrap text-neutral-700 bg-white"
        >
          Insights
        </button>
        <button
          type="button"
          aria-label="Show active tab"
          class="py-1 px-2.5 text-sm flex items-center justify-center font-medium shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] rounded-full whitespace-nowrap text-neutral-700 bg-white"
        >
          Marketing
        </button>
      </div>
    </div>
    <div
      class="mt-6 grid gap-y-3 sm:mx-auto sm:w-2/3 md:w-1/2 md:px-4 lg:mx-0 lg:mt-12 lg:w-full lg:grid-cols-2 lg:gap-x-8 lg:gap-y-6 lg:px-8"
    >
      <article
        class="grid gap-x-6 gap-y-2 lg:gap-y-0 xl:grid-cols-[15.625rem_auto]"
      >
        <figure
          class="relative w-full self-start rounded-2xl shadow-[0_2px_10px_0px_rgba(0,0,0,0.05)]"
        >
          <img
            class="h-40 w-full rounded-2xl object-cover object-left-top lg:h-48"
            src="https://tailkits.com/ui/iframe/assets/img/bg-blog-1.png"
            alt="Mastering Saas Landing Pages: 10 Essential Tips for Conversions"
          />
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] bg-white text-neutral-700 px-2.5 py-1 absolute right-3 top-3 z-10 xl:hidden"
          >
            Tips
          </div>
        </figure>
        <div class="flex flex-col items-start p-4 xl:p-0">
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] bg-white text-neutral-700 px-2.5 py-1 hidden xl:block"
          >
            Tips
          </div>
          <div class="xl:mt-2.5">
            <a
              class="font-bold text-neutral-700"
              href="#"
              title="Mastering Saas Landing Pages: 10 Essential Tips for Conversions"
              >Mastering Saas Landing Pages: 10 Essential Tips for
              Conversions</a
            >
            <p class="mt-2 text-sm font-medium text-neutral-500">
              Linear is a tool to remove barriers. Powerful yet simple to use,
              it helps you to plan ahead, linear is a tool to remove barriers.
            </p>
          </div>
          <div class="mt-2.5 flex grow items-end">
            <div class="flex flex-wrap items-center gap-1">
              <div class="text-sm font-medium text-slate-600">
                Sarah Thompson
              </div>
              <div class="flex items-center gap-x-1">
                <span class="h-1 w-1 rounded-full bg-neutral-200"></span>
                <time class="text-sm font-medium text-neutral-500"
                  >16 April 2023</time
                >
              </div>
            </div>
          </div>
        </div>
      </article>
      <article
        class="grid gap-x-6 gap-y-2 lg:gap-y-0 xl:grid-cols-[15.625rem_auto]"
      >
        <figure
          class="relative w-full self-start rounded-2xl shadow-[0_2px_10px_0px_rgba(0,0,0,0.05)]"
        >
          <img
            class="h-40 w-full rounded-2xl object-cover object-left-top lg:h-48"
            src="https://tailkits.com/ui/iframe/assets/img/bg-blog-1.png"
            alt="Designing Saas Landing Pages that Wow: Best Practices and Creative Strategies"
          />
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] bg-white text-neutral-700 px-2.5 py-1 absolute right-3 top-3 z-10 xl:hidden"
          >
            Trends
          </div>
        </figure>
        <div class="flex flex-col items-start p-4 xl:p-0">
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] bg-white text-neutral-700 px-2.5 py-1 hidden xl:block"
          >
            Trends
          </div>
          <div class="xl:mt-2.5">
            <a
              class="font-bold text-neutral-700"
              href="#"
              title="Designing Saas Landing Pages that Wow: Best Practices and Creative Strategies"
              >Designing Saas Landing Pages that Wow: Best Practices and
              Creative Strategies</a
            >
            <p class="mt-2 text-sm font-medium text-neutral-500">
              Create visually stunning and highly effective landing pages for
              your Saas business
            </p>
          </div>
          <div class="mt-2.5 flex grow items-end">
            <div class="flex flex-wrap items-center gap-1">
              <div class="text-sm font-medium text-slate-600">David Wilson</div>
              <div class="flex items-center gap-x-1">
                <span class="h-1 w-1 rounded-full bg-neutral-200"></span>
                <time class="text-sm font-medium text-neutral-500"
                  >16 April 2023</time
                >
              </div>
            </div>
          </div>
        </div>
      </article>
      <article
        class="grid gap-x-6 gap-y-2 lg:gap-y-0 xl:grid-cols-[15.625rem_auto]"
      >
        <figure
          class="relative w-full self-start rounded-2xl shadow-[0_2px_10px_0px_rgba(0,0,0,0.05)]"
        >
          <img
            class="h-40 w-full rounded-2xl object-cover object-left-top lg:h-48"
            src="https://tailkits.com/ui/iframe/assets/img/bg-blog-1.png"
            alt="Cracking the Code: Writing Compelling Saas Landing Page Copy that Converts"
          />
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] bg-white text-neutral-700 px-2.5 py-1 absolute right-3 top-3 z-10 xl:hidden"
          >
            Trends
          </div>
        </figure>
        <div class="flex flex-col items-start p-4 xl:p-0">
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] bg-white text-neutral-700 px-2.5 py-1 hidden xl:block"
          >
            Trends
          </div>
          <div class="xl:mt-2.5">
            <a
              class="font-bold text-neutral-700"
              href="#"
              title="Cracking the Code: Writing Compelling Saas Landing Page Copy that Converts"
              >Cracking the Code: Writing Compelling Saas Landing Page Copy that
              Converts</a
            >
            <p class="mt-2 text-sm font-medium text-neutral-500">
              Craft persuasive and conversion-focused copywriting for your Saas
              landing pages
            </p>
          </div>
          <div class="mt-2.5 flex grow items-end">
            <div class="flex flex-wrap items-center gap-1">
              <div class="text-sm font-medium text-slate-600">
                Emily Roberts
              </div>
              <div class="flex items-center gap-x-1">
                <span class="h-1 w-1 rounded-full bg-neutral-200"></span>
                <time class="text-sm font-medium text-neutral-500"
                  >16 April 2023</time
                >
              </div>
            </div>
          </div>
        </div>
      </article>
      <article
        class="grid gap-x-6 gap-y-2 lg:gap-y-0 xl:grid-cols-[15.625rem_auto]"
      >
        <figure
          class="relative w-full self-start rounded-2xl shadow-[0_2px_10px_0px_rgba(0,0,0,0.05)]"
        >
          <img
            class="h-40 w-full rounded-2xl object-cover object-left-top lg:h-48"
            src="https://tailkits.com/ui/iframe/assets/img/bg-blog-1.png"
            alt="User Experience Matters: Enhancing Landing Pages for Seamless Interactions"
          />
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] bg-white text-neutral-700 px-2.5 py-1 absolute right-3 top-3 z-10 xl:hidden"
          >
            Trends
          </div>
        </figure>
        <div class="flex flex-col items-start p-4 xl:p-0">
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] bg-white text-neutral-700 px-2.5 py-1 hidden xl:block"
          >
            Trends
          </div>
          <div class="xl:mt-2.5">
            <a
              class="font-bold text-neutral-700"
              href="#"
              title="User Experience Matters: Enhancing Landing Pages for Seamless Interactions"
              >User Experience Matters: Enhancing Landing Pages for Seamless
              Interactions</a
            >
            <p class="mt-2 text-sm font-medium text-neutral-500">
              Improve user experience and boost conversions with optimized
              landing pages.
            </p>
          </div>
          <div class="mt-2.5 flex grow items-end">
            <div class="flex flex-wrap items-center gap-1">
              <div class="text-sm font-medium text-slate-600">
                Michael Anderson
              </div>
              <div class="flex items-center gap-x-1">
                <span class="h-1 w-1 rounded-full bg-neutral-200"></span>
                <time class="text-sm font-medium text-neutral-500"
                  >16 April 2023</time
                >
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
