<section
  class="pt-12 lg:pt-16 bg-gradient-to-b from-[#E9EAFF] via-[#E7FCFF] to-white pb-12 lg:pb-24"
>
  <div class="max-w-7xl mx-auto px-4 xl:px-0 flex flex-col items-start">
    <div
      class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-white text-neutral-700 px-2.5 py-1"
    >
      Introducing saaslandings
    </div>
    <div
      class="bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-3xl font-semibold text-transparent lg:text-5xl mt-8 sm:w-2/3 md:w-3/4 lg:mt-9 lg:leading-tight xl:w-3/5"
    >
      Features that set us apart
    </div>
    <div
      class="mt-12 grid gap-y-6 md:grid-cols-2 md:gap-x-4 lg:mt-16 lg:gap-x-9 lg:gap-y-0"
    >
      <div class="flex flex-col gap-y-3 lg:gap-y-4">
        <div class="text-xl font-medium text-neutral-700 lg:text-2xl">
          Advanced Analytics
        </div>
        <p
          class="text-sm font-medium text-neutral-500 sm:w-2/3 md:w-11/12 xl:w-2/3"
        >
          Unleash the power of design synergy to create seamless and intuitive
          SaaS solutions that delight users
        </p>
      </div>
      <div class="flex flex-col gap-y-3 lg:gap-y-4">
        <div class="text-xl font-medium text-neutral-700 lg:text-2xl">
          Seamless Integration
        </div>
        <p
          class="text-sm font-medium text-neutral-500 sm:w-2/3 md:w-11/12 xl:w-2/3"
        >
          Embark on a journey of design exploration to craft extraordinary SaaS
          experiences that captivate and convert
        </p>
      </div>
    </div>
  </div>
</section>
