<section class="pt-12 lg:pt-16 relative pb-12 lg:pb-16">
  <img
    class="absolute left-0 top-0 -z-20 h-full w-full object-cover"
    src="https://tailkits.com/ui/iframe/assets/img/bg-overlay-3.png"
    alt="Background image"
  />
  <div class="max-w-7xl mx-auto px-4 xl:px-0 flex flex-col">
    <div
      class="flex flex-col items-start sm:items-center sm:text-center md:px-4 lg:items-start lg:px-8 lg:text-left"
    >
      <div
        class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-white text-neutral-700 px-2.5 py-1"
      >
        Introducing saaslandings
      </div>
      <div
        class="bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-3xl font-semibold text-transparent lg:text-5xl mt-6 lg:mt-8 lg:w-5/6 lg:leading-tight xl:w-3/4"
      >
        Design Your SaaS Future
      </div>
      <p class="mt-4 text-sm font-medium text-slate-600 sm:w-1/2 lg:w-2/5">
        Empower your projects with cutting-edge design resources tailored
        specifically for SaaS and foster user engagement
      </p>
    </div>
    <div class="mt-6 border-b border-b-neutral-100"></div>
    <div
      class="mt-6 flex flex-col gap-y-6 sm:px-4 lg:mt-9 lg:flex-row lg:gap-x-9 lg:gap-y-0 lg:px-8"
    >
      <div
        class="flex flex-col gap-y-4 sm:mx-auto sm:w-7/12 md:w-1/2 lg:mx-0 lg:mb-20 lg:w-2/5 lg:gap-y-6 xl:w-1/3"
      >
        <article class="flex flex-col items-start">
          <figure>
            <svg
              class="h-6 text-slate-400 lg:h-8"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </figure>
          <div
            class="mt-3 font-bold text-neutral-700 md:text-lg lg:mt-4 xl:text-xl"
          >
            Advanced Analytics
          </div>
          <p class="mt-2 text-sm font-medium text-neutral-500">
            Goes beyond surface-level data, delving deep into your information
            to reveal crucial insights.
          </p>
        </article>
        <article class="flex flex-col items-start opacity-50">
          <figure>
            <svg
              class="h-6 text-slate-400 lg:h-8"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </figure>
          <div
            class="mt-3 font-bold text-neutral-700 md:text-lg lg:mt-4 xl:text-xl"
          >
            Seamless Integration
          </div>
          <p class="hidden">
            Say goodbye to silos and hello to smooth data flow across platforms.
          </p>
        </article>
        <article class="flex flex-col items-start opacity-50">
          <figure>
            <svg
              class="h-6 text-slate-400 lg:h-8"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </figure>
          <div
            class="mt-3 font-bold text-neutral-700 md:text-lg lg:mt-4 xl:text-xl"
          >
            Intuitive User Interface
          </div>
          <p class="hidden">
            Designed with you in mind, interface offers a seamless and
            user-friendly platform.
          </p>
        </article>
      </div>
      <div class="flex grow">
        <figure
          class="relative h-52 w-full overflow-hidden rounded-xl bg-slate-200 sm:mx-auto sm:w-2/3 md:h-60 md:rounded-2xl lg:h-full lg:w-full lg:rounded-3xl"
        >
          <img
            class="absolute left-8 top-6 h-80 rounded-md border-4 border-slate-900/5 object-cover object-left-top shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] sm:left-12 sm:top-12 lg:left-16 lg:top-24 lg:h-[35rem] lg:w-full lg:rounded-2xl"
            src="https://tailkits.com/ui/iframe/assets/img/browser-mock-up-1.png"
            alt="Browser Mockup"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
