<section class="pt-12 lg:pt-16 pb-8 md:pb-12 lg:pb-16">
  <div class="max-w-7xl mx-auto px-4 xl:px-0">
    <div class="flex flex-col items-center">
      <div
        class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-white text-neutral-700 px-2.5 py-1"
      >
        Introducing saaslandings
      </div>
      <div
        class="mt-6 bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-center text-3xl font-semibold text-transparent sm:mx-auto sm:w-2/3 md:w-1/2 lg:mt-9 lg:text-4xl lg:leading-tight xl:w-2/5"
      >
        We build strong connections with impressive network
      </div>
      <p
        class="text-sm font-medium text-slate-600 leading-normal lg:leading-normal lg:text-base mt-4 text-center sm:mx-auto sm:w-2/3 md:w-1/2 xl:w-2/5"
      >
        Witness the diverse range of trusted brands that have chosen us for
        their needs, forming a tapestry of success.
      </p>
    </div>
    <div
      class="mt-6 border-b border-b-neutral-100 sm:mx-auto sm:w-7/12 lg:mt-12"
    ></div>
    <div
      class="mt-9 flex flex-wrap items-center justify-center gap-8 sm:gap-x-12 lg:mt-12 lg:gap-x-24"
    >
      <img
        class="h-8 sm:h-12 lg:h-16"
        src="https://tailkits.com/ui/iframe/assets/img/logo-1.svg"
        alt="Logo"
      />
      <img
        class="h-8 sm:h-12 lg:h-16"
        src="https://tailkits.com/ui/iframe/assets/img/logo-2.svg"
        alt="Logo"
      />
      <img
        class="h-8 sm:h-12 lg:h-16"
        src="https://tailkits.com/ui/iframe/assets/img/logo-3.svg"
        alt="Logo"
      />
      <img
        class="h-8 sm:h-12 lg:h-16"
        src="https://tailkits.com/ui/iframe/assets/img/logo-4.svg"
        alt="Logo"
      />
      <img
        class="h-8 sm:h-12 lg:h-16"
        src="https://tailkits.com/ui/iframe/assets/img/logo-5.svg"
        alt="Logo"
      />
      <img
        class="h-8 sm:h-12 lg:h-16"
        src="https://tailkits.com/ui/iframe/assets/img/logo-6.svg"
        alt="Logo"
      />
    </div>
  </div>
</section>
