<section class="pt-12 lg:pt-16 bg-slate-50 pb-8 lg:pb-16">
  <div class="max-w-7xl mx-auto px-4 xl:px-0 flex flex-col items-center">
    <div
      class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-white text-neutral-700 px-2.5 py-1"
    >
      Get full access
    </div>
    <div
      class="mx-auto mt-8 bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-center text-3xl font-semibold text-transparent sm:w-4/5 md:w-3/5 lg:mt-9 lg:text-4xl lg:leading-tight xl:w-7/12"
    >
      Simple solution. <br />
      One price.
    </div>
    <p
      class="text-sm font-medium text-slate-600 leading-normal lg:leading-normal lg:text-base mt-4 text-center sm:mx-auto sm:w-2/3 md:w-1/2 xl:w-2/5"
    >
      Unlock the power of stunning design for your SaaS projects and create a
      memorable user experience that drives growth and customer satisfaction
    </p>
    <div
      class="mt-6 flex w-full flex-col sm:mx-auto sm:w-2/3 lg:mt-12 lg:w-1/2"
    >
      <div class="flex items-end justify-center gap-x-3">
        <div class="text-4xl font-semibold text-slate-900">$28</div>
        <span class="text-lg text-slate-600">/ month</span>
      </div>
      <div
        class="mt-4 flex flex-wrap items-center justify-center gap-4 lg:mt-6"
      >
        <span class="text-sm text-neutral-500">monthly</span>
        <div class="relative rounded-full h-6 w-11 bg-green-500">
          <span
            class="absolute top-1/2 -translate-y-1/2 rounded-full bg-white shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] h-5 w-5 right-0.5"
          ></span>
        </div>
        <span class="text-sm text-neutral-500">annually</span>
        <div
          class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-white text-neutral-700 px-2 py-0.5"
        >
          save 20%
        </div>
      </div>
      <div class="mt-6 w-full border-b border-b-neutral-100 lg:mt-12"></div>
      <div
        class="mt-6 flex flex-wrap justify-between gap-3 sm:flex-nowrap sm:justify-stretch sm:gap-y-0 lg:mt-12 lg:gap-x-12"
      >
        <ul class="flex flex-col items-start gap-y-2 sm:w-full">
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">
              Unlimited Projects
            </p>
          </li>
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">
              Advanced Analytics
            </p>
          </li>
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">Integration</p>
          </li>
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">Figma Files</p>
          </li>
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">Tailwind Files</p>
          </li>
        </ul>
        <ul class="flex flex-col items-start gap-y-2 sm:w-full">
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">Custom Branding</p>
          </li>
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">Customer Support</p>
          </li>
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">Data Security</p>
          </li>
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">
              Automated Updates
            </p>
          </li>
          <li class="flex items-center gap-x-2 lg:gap-x-4">
            <svg
              class="h-5 shrink-0 text-slate-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="text-sm font-medium text-neutral-500">Access Controls</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
