<section class="py-16 lg:py-24 relative">
  <img
    class="absolute left-0 top-0 -z-20 h-full w-full object-cover"
    src="https://tailkits.com/ui/iframe/assets/img/bg-11.png"
    alt="Background image"
  />
  <div class="max-w-7xl mx-auto px-4 xl:px-0 relative">
    <figure
      class="relative flex flex-col gap-y-6 sm:mx-auto sm:w-11/12 xl:gap-y-9"
    >
      <blockquote class="flex flex-col items-start">
        <p class="text-xl font-medium text-neutral-700 md:text-2xl xl:text-3xl">
          "Working with Acme Design was a pleasure from start to finish. Their
          team was responsive, collaborative, and delivered exceptional designs
          that perfectly aligned with our brand."
        </p>
        <div class="mt-6 flex flex-wrap gap-4 xl:mt-9">
          <figcaption class="font-medium text-slate-700">
            Jennifer Carter
          </figcaption>
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-slate-300 text-slate-700 px-2 py-0.5"
          >
            Head of Marketing
          </div>
        </div>
        <img
          class="mt-6 h-8 xl:mt-9"
          src="https://tailkits.com/ui/iframe/assets/img/logo-big.svg"
          alt="Logo"
        />
        <div
          class="mt-6 flex items-center justify-center gap-x-3 md:mt-9 md:gap-x-6"
        >
          <button
            type="button"
            aria-label="Show the other one"
            class="rounded-full cursor-pointer flex items-center justify-center whitespace-nowrap transition-all focus:shadow-[0_0px_0px_2px_rgba(15,23,42,0.25),0_2px_10px_0px_rgba(0,0,0,0.05)] shadow-[0_2px_10px_0px_rgba(0,0,0,0.05)] bg-slate-900 text-white hover:bg-slate-800 disabled:bg-slate-900/30 disabled:text-slate-50/70 w-8 h-8 p-1.5 md:w-10 md:h-10 md:p-2.5 xl:w-11 xl:h-11 xl:p-3"
            c="c"
          >
            <svg
              class="h-5 shrink-0"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <button
            type="button"
            aria-label="Show the other one"
            class="rounded-full cursor-pointer flex items-center justify-center whitespace-nowrap transition-all focus:shadow-[0_0px_0px_2px_rgba(15,23,42,0.25),0_2px_10px_0px_rgba(0,0,0,0.05)] shadow-[0_2px_10px_0px_rgba(0,0,0,0.05)] bg-slate-900 text-white hover:bg-slate-800 disabled:bg-slate-900/30 disabled:text-slate-50/70 w-8 h-8 p-1.5 md:w-10 md:h-10 md:p-2.5 xl:w-11 xl:h-11 xl:p-3"
          >
            <svg
              class="h-5 shrink-0"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </blockquote>
      <img
        class="absolute -top-5 left-0 h-12 xl:-top-16 xl:h-8"
        src="https://tailkits.com/ui/iframe/assets/img/quote.svg"
        alt="Quote"
      />
    </figure>
  </div>
</section>
