<section
  class="py-16 lg:py-24 bg-gradient-to-b from-[#E9FFFE] via-[#F6FFE7] to-white"
>
  <div class="max-w-7xl mx-auto px-4 xl:px-0 relative">
    <figure
      class="flex flex-col items-center gap-y-6 sm:mx-auto sm:w-2/3 xl:w-1/2 xl:gap-y-9"
    >
      <img
        class="h-12 w-12 shrink-0 rounded-full object-cover md:h-16 md:w-16"
        src="https://tailkits.com/ui/iframe/assets/img/avatar-1.png"
        alt="Testimonial"
      />
      <blockquote class="flex flex-col items-center">
        <p
          class="text-center font-medium text-neutral-700 md:text-lg xl:text-xl"
        >
          "We were impressed by the creativity and professionalism of SaaS
          Landings. Their design solutions have helped us stand out in a crowded
          market and attract new customers."
        </p>
        <div
          class="mt-6 flex flex-wrap items-center justify-center gap-4 xl:mt-9"
        >
          <figcaption class="font-medium text-slate-700">
            Sarah Walker
          </figcaption>
          <div
            class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-slate-300 text-slate-700 px-2 py-0.5"
          >
            Marketing Manager
          </div>
        </div>
        <img
          class="mt-6 h-8 xl:mt-9"
          src="https://tailkits.com/ui/iframe/assets/img/logo-big.svg"
          alt="Logo"
        />
      </blockquote>
    </figure>
    <div class="mt-6 flex items-center justify-center gap-x-2 md:mt-9">
      <button
        class="h-2 w-2 shrink-0 rounded-full bg-slate-900"
        type="button"
        aria-label="Current testimonial"
      ></button>
      <button
        class="h-2 w-2 shrink-0 cursor-pointer rounded-full bg-neutral-300 transition hover:bg-neutral-200"
        type="button"
        aria-label="Show the other testimonial"
      ></button>
      <button
        class="h-2 w-2 shrink-0 cursor-pointer rounded-full bg-neutral-300 transition hover:bg-neutral-200"
        type="button"
        aria-label="Show the other testimonial"
      ></button>
    </div>
  </div>
</section>
